@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

 body {
     font-family: 'Rubik', sans-serif;
     overflow-x: hidden;
 }

/* LOGIN REGISTER */
.logReg-main{
  background-image: url(./images/LoginRegisterLogo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.login-cluster{
  padding-top: 40%;
  padding-bottom: 40%;
  
}
.login-cluster-inner{
  border:3px solid #97d3d3;
  border-radius: 3%;
  padding: 60px;
  margin-left: 10%;
  margin-right: 10%;
}

/* DASHBOARD */
.dashboard-mainface{
  height: 100vh;
}
.dashboard-body{
  border: 2px solid black;
}
.dashboard-map{
  border: 2px soid black;
  width: 55%;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
.dashboard-map img{
  height: 800px;
}


/* LOST PAGE */
.lost-body{
  background-image: url(./images/blurred.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.lost-message{
  padding-top: 20%;
  padding-bottom: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* NAVBAR */
.navbar-links{
  font-size:1.4em;
}
/* FOOTER */
 .container-fluid {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #292929;
    color: #627482 !important;
    bottom:0;
    width:100%;
    
 }
.footer-image{
  width: 300px;
}
.bold-text {
  color: #989c9e !important;
}
.footer-namelist{
  list-style-type: none;
}
.footer-image-git{
  height: 100px;
  margin: auto;
}